<!-- 
    File Name           :   readyShipmentList.html
    File Description    :   To List Shipment Details in a Grid
    Created Date        :   3 - Jan - 2015
    Modified Date       :   3 - Jan - 2015
    Company             :   iExemplar
    Created By          :   Manthiriyappan A
    Contributors        :   Manthiriyappan A
 -->
<div class="page page-form">
    <div class="row">
        <div class="col-md-12" ng-submit="advacedSearch()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Ready Shipment List </strong>
                  
                </div>
                <div class="panel-body">
                    <section class="table-flip-scroll">
                        <div id="" ui-grid="gridOptions" class="table table-bordered table-striped table-responsive" external-scopes="$scope"></div>
                    </section>
                </div>                
            </div>
        </div>
    </div>
</div>
